<table>
  <tr>
    <th>firstName</th>
    <th>lastName</th>
    <th>age</th>
    <th>phoneNumber</th>
    <th>email</th>
    <th>streetAddress</th>
    <th>city</th>
    <th>state</th>
    <th>country</th>
    <th>pincode</th>
    <th>trainerPrefrences</th>
    <th>physiotherapinst</th>
    <th>package</th>
    <th>inr</th>
    <th>paisa</th>
    <th>id</th>
  </tr>

  <tr *ngFor="let com of lstcomments">
    <td>{{ com.firstname }}</td>
    <td>{{ com.lastname }}</td>
    <td>{{ com.age }}</td>
    <td>{{ com.phonenumber }}</td>
    <td>{{ com.email }}</td>
    <td>{{ com.streetaddress }}</td>
    <td>{{ com.city }}</td>
    <td>{{ com.state }}</td>
    <td>{{ com.country }}</td>
    <td>{{ com.pincode }}</td>
    <td>{{ com.trainerpreference }}</td>
    <td>{{ com.physiotherapist }}</td>
    <td>{{ com.packages }}</td>
    <td>{{ com.inr }}</td>
    <td>{{ com.paisa }}</td>
    <td>{{ com.id }}</td>
  </tr>
</table>
